.full {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .top {
    width: 100%;

    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;
      font-size: 2rem;
      color: #5A6962;
      background-color: #fff;
      padding: 1rem 2rem;
      margin: 0 10rem;
      border-radius: 50px;
      border: 4px solid #5A6962;
      box-shadow: 1px 3px 6px #5A6962;
      position: relative;
      z-index: 20;
      cursor: pointer;
        li{
            &:hover{
                color: #043006;
                font-weight: bold;
            }
        }
      .logo { cursor: pointer; }
      .menu { display: flex; gap: 5rem; }
      .nav-icon img { width: 50px; }
    }
  }

  .bg-swing {
    position: relative;
    p{
      position: absolute; 
      color: #043006;
      top: 7.2%;           
      left: 15.6%;
      font-weight:800;
      font-size: 1.3rem;
      &:hover{
        color: #1221fa;
        font-weight: bolder;
      }
    }
    .bg {
      display: block;
      z-index: 1; 
    }

    .top-swing {
      position: absolute; 
      top: 19%;           
      left: 84%;          
      transform: translateX(-50%);
      width: 15%;       
      z-index: 10;        

      // 선택: 흔들리는 애니메이션
      animation: swing 2s infinite ease-in-out;
      @keyframes swing {
        0% { transform: translateX(-50%) rotate(-10deg); }
        50% { transform: translateX(-50%) rotate(10deg); }
        100% { transform: translateX(-50%) rotate(-10deg); }
      }
    }
  }
}
