// .skills-wrapper {
//   display: flex;
//   gap: 2rem;
//   overflow-x: hidden;  // 가로 스크롤 숨김
//   width: 100%;
//   padding: 1rem 0;

//   // 가로로 쭉 나열되고 자연스럽게 움직이는 느낌을 위해 white-space 조절
//   white-space: nowrap;

//   // 이미지 스타일
//   .tool {
//     width: 60px;
//     height: 20%;
//     border-radius: 50%;
//     object-fit: contain;
//     transition: transform 0.3s ease;
//     box-shadow: 1px 0.5px 6px #c0c0c0;
//     &:hover {
//       transform: scale(1.2);
//       cursor: pointer;
//     }
//   }
// }
